@flowable:registry=https://artifacts.flowable.com/artifactory/api/npm/flowable-npm-all/
//artifacts.flowable.com/artifactory/api/npm/flowable-npm-all/:_password=Y21WbWRHdHVPakF4T2pFM05qY3hPVFF4TkRjNk5VRmxPSFpKWmtFNFlVMDRPVEpZWjAxSU4zUlhaWEZ2WWxwdA==
//artifacts.flowable.com/artifactory/api/npm/flowable-npm-all/:username=bot-inoshift@bots.flowable.com
//artifacts.flowable.com/artifactory/api/npm/flowable-npm-all/:email=mwi@inoshift.com
//artifacts.flowable.com/artifactory/api/npm/flowable-npm-all/:always-auth=true